build
*.iml

# OSX auto files
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows auto files
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux auto files
*~
/bin/test/AccountingActivities.groovy
/bin/test/AssetReservationMultipleThreads.groovy
/bin/test/MantleUslSuite.groovy
/bin/test/OrderProcureToPayBasicFlow.groovy
/bin/test/OrderTenantAccess.groovy
/bin/test/OrderToCashBasicFlow.groovy
/bin/test/OrderToCashTime.groovy
/bin/test/RestApiTests.groovy
/bin/test/ReturnToResponseBasicFlow.groovy
/bin/test/WorkPlanToCashBasicFlow.groovy
/moqui_logs/log/error.log
/moqui_logs/log/moqui.log
